{% extends "base.html" %}

{% block title %}Про нас{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">Про нас</h1>

<style>
    html, body {
        height: 100%; 
        margin: 0; 
    }

    body {
        background-image: url('/static/images/фон.jpg'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 

    .content-container {
        background-color: rgba(255, 255, 255, 0.85); 
        padding: 20px;
        border-radius: 8px;
    }
</style>

<div class="content-container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <img src="/static/images/logoselect.png" alt="Placeholder" class="w-full rounded-lg shadow-md">
        </div>
        <div>
            <p class="text-lg">
                Select - це український бренд снастей для спінінгової риболовлі. З 2014 року ми створюємо класні уловисті снасті, ловимо в кайф і залучаємо нових людей до нашого хобі.

                Усі снасті та приманки розробляються і тестуються виключно профісіоналами. Ми відповідаємо за кожен продукт і самі постійно рибалимо на снасті Select.
                
                У нас ти знайдеш те, що так давно шукав: ефективні снасті, кастомні приманки та топові аксесуари за адекватною ціною. У Select ми прагнемо об'єднати любов до риболовлі з новітніми технологіями та якісними матеріалами. Кожен наш продукт – це результат ретельних досліджень і тестувань, створений з урахуванням потреб рибалок усіх рівнів. Від початківців до досвідчених спортсменів – ми маємо все, що потрібно для того, щоб кожна риболовля стала успішною та приємною.

                Риболовля, як і життя, сповнене несподіванок. Вона навчає нас адаптуватися до змін, приймати виклики і насолоджуватися моментами спокою. Кожен закид вудки – це новий шанс, нова історія, що чекає на свій розвиток. Ми в Select надихаємося цими моментами і прагнемо забезпечити вам найкращі інструменти для їхнього реалізації.
                
                Завдяки нашій відданості якості та інноваціям, ми створюємо товари, які підкорюють води. Ваша риболовля – це наш пріоритет, і ми горді бути частиною вашої подорожі. Нехай кожен вихід на воду стане не лише змаганням, а й можливістю відкрити нові горизонти, знайти гармонію з природою та відчути справжнє задоволення від кожного улову.
                
                В Select ми знаємо, що риболовля – це більше, ніж просто спорт. Це спосіб життя, що об'єднує людей, спонукає до роздумів і відкриває нові горизонти. Приєднуйтесь до нас на цьому захоплюючому шляху, де кожен день на воді – це нова можливість створити незабутні спогади.
            </p>
        </div>
    </div>
</div>
{% endblock %}
